<% view :editor_tab do %>
<table>
  <tr><td>
    <%= text_field_view :title, :outlet => true, :size => 60,
                        :bind =>{:value => 'SN.detailController.title'}  
    %>
  </td></tr>

  <tr><td>
    <%= text_area_view :edit_body, :outlet => true, :cols => 70, :rows => 16,
                       :bind =>{:value => 'SN.detailController.text'}  
    %>
  </td></tr>
</table>

<% end %>
