.title_preview {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border: 1px dotted gray;
  width: 460px;
}

.wiki_preview {
  padding: 10px;
  overflow: auto;
  height: 290px;
  width: 550px;
  background-color: white;
  border: 1px dotted gray;
}
